terraform.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
.terraform/modules 2/modules.json
.terraform/providers/registry.terraform.io/hashicorp/aws/*/terraform-provider-aws*.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/5.21.0/windows_386/terraform-provider-aws_v5.21.0_x5.exe
